<p id="notice"><%= notice %></p>

<p>
  <strong>Fid:</strong>
  <%= @feed.fid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @feed.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @feed.url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @feed.category %>
</p>

<h1>Feed A</h1>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
