<h1><%= Feed.find_by_fid(1).name %></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>   </th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <!-- <td><%= article.url %></td>
      <!-- <td><%= article.description %></td> -->
      <td><%= link_to 'Show', article %></td>
      <!-- <td><%#= link_to 'Edit', edit_article_path(article) %></td> -->
      <td><%= link_to 'Dismiss', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      <td><%= article.updated_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Feeds', feeds_path %>
<!-- <%= link_to 'New Article', new_article_path %> -->
